body {
  width: 100%;
  height: auto;
}
header {
  background-color: #213146;
  padding-top: 0;
  padding-left: 10px;
  padding-bottom: 0;
  /* border-bottom: 8px solid white; */
  z-index: 2;
}
header img {
  width: 101.68px;
  height: 32.7px;
  margin-top: 10px;
}
.container {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.home {
  width: 100%;
  height: 680px;
  display: block;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* grid-template-columns: 2;
  grid-template-rows: 1; */
  margin: 0px;
  padding-top: 25px;
  background-color: #ff3566;
}

.home h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 43.32px;
  font-weight: 100;
  color: white;
  line-height: 50px;
  letter-spacing: 8.86px;
  width: 450px;
  height: auto;
  margin-bottom: 20px;
  /* margin-left: 50px; */
}
.home p {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: white;
  line-height: 14px;
  width: 372px;
  height: 55px;
  letter-spacing: 1px;
}
.containerImage {
  position: relative;
  top: -320px;
  left: 600px;
  width: 700px;
  height: auto;
}
.container img {
  width: 100%;
  height: auto;
  z-index: 2;
}
.homeInfo {
  position: relative;
  top: 185px;
  left: 376px;
}
input {
  position: relative;
  /*top: 40px;*/
  width: 157px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid white;
  font-family: 'Poppins', sans-serif;
  font-size: 9.36px;
  z-index: 2;
}
.buttonHeader {
  background-color: #f9d7d6;
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  font-weight: bold;
  position: relative;
  top: -1px;
  left: 950px;
  border-radius: 0;
  height: 52px;
}
.buttonRegister {
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
}
.infoContainer {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
.check {
  width: 192px;
  height: 200px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.info {
  display: inline;
  justify-items: center;
  align-items: center;
  align-content: space-between;
  padding-top: 100px;
  padding-left: 150px;
}
.info h2 {
  text-align: center;
  font-size: 22px;
  color: #808fa3;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.check h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #ff3566;
}
.check img {
  width: 65px;
  height: 65px;
}
.check p {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: #808fa3;
}
.cash {
  width: 192px;
  height: 200px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cash h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #ff3566;
}
.cash img {
  width: 65px;
  height: 65px;
}
.cash p {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: #808fa3;
}
.hands {
  width: 192px;
  height: 200px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hands h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #ff3566;
}
.hands img {
  width: 65px;
  height: 65px;
}
.hands p {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: #808fa3;
}
.buttonInfo {
  position: relative;
  top: -60px;
  left: 550px;
  width: 236px;
  height: 44px;
  background-color: #ff3566;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 10px;
}
.users {
  display: inline-flex;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #f9d7d6;
  padding-bottom: 50px;
}
.users img {
  width: 100%;
  /* padding-bottom: 50px; */

  /* height: 591px; */
}
.containerImage2 {
  display: block;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.infoUsers {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  display: block;
  text-align: center;
}
.users h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 17.6px;
  color: #6d1b37;
  line-height: 20.8px;
}
.users p {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: #25364b;
}
.buttonUser {
  background-color: #ff3566;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 10px;
}
.sellers {
  width: 100%;
  margin-left: 200px;
  height: 500px;
  display: block;
}
.sellersInfo {
  position: relative;
  top: -550px;
  left: 700px;
  width: 300px;
  height: auto;
}
.sellersInfo h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #6d1b37;
  font-weight: 400;
}
.sellersInfo p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #213146;
  font-weight: 400;
}
.containerImage3 {
  width: 100%;
}
.containerImage3 img {
  width: 500px;
  height: auto;
}
.containerImage4 {
  width: 100%;
  position: relative;
  top: -175px;
  left: 280px;
}
.containerImage4 img {
  width: 300px;
  height: auto;
}
.buttonVendor {
  background-color: #ff3566;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 11.5px;
}
.company {
  width: 100%;
  margin-left: 200px;
  height: auto;
  display: block;
}
.companyInfo {
  position: relative;
  top: 200px;
  left: 100px;
  width: 300px;
  height: auto;
}
.companyInfo h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #6d1b37;
  font-weight: 400;
}
.companyInfo p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #213146;
  font-weight: 400;
}
.containerImage5 {
  width: 100%;
  position: relative;
  top: 100px;
  left: 550px;
}
.containerImage5 img {
  width: 500px;
  height: auto;
}
.buttonCompany {
  background-color: #ff3566;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 11.5px;
}
.school {
  position: relative;
  top: 300px;
  margin-left: 200px;
  width: 1020px;
  height: 379px;
  display: block;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #f9d7d6;
}
.schoolInfo {
  width: 380px;
  height: auto;
  padding-left: 50px;
}
.schoolInfo h3 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -5.9px;
  line-height: 70px;
  font-size: 100px;
  color: #ff3566;
  /* padding-left: 50px; */
  margin-top: 50px;
  margin-bottom: 0;
}
.schoolInfo p {
  /* padding-left: 50px; */
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  color: #000000;
}
.buttonKnowMore {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
}
.containerImage6 {
  width: 100%;
  position: relative;
  top: -432px;
  left: 120px;
}
.containerImage6 img {
  width: 900px;
}
.faqs {
  display: block;
}
.faqs h2 {
  position: relative;
  left: 600px;
  top: 380px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #808fa3;
}

.faqsGrid {
  position: relative;
  top: 400px;
  display: grid;
  grid-template-areas:
    'h2             h2           h2'
    'faqsInfo1  faqsInfo2 faqsInfo3';

  justify-items: center;
  align-items: center;
  align-content: space-between;
  padding-top: 100px;
  padding-left: 150px;
}
.faqsInfo1 {
  width: 192px;
  height: 200px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.faqsInfo1 h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 13.07px;
  color: #ff3566;
}
.faqsInfo1 p {
  font-family: 'Poppins', sans-serif;
  font-size: 9.44px;
  color: #25344b;
}
.faqsInfo2 {
  width: 192px;
  height: 200px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.faqsInfo2 h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 13.07px;
  color: #ff3566;
}
.faqsInfo2 p {
  font-family: 'Poppins', sans-serif;
  font-size: 9.44px;
  color: #25344b;
}
.faqsInfo3 {
  width: 192px;
  height: 200px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.faqsInfo3 h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 13.07px;
  color: #ff3566;
}
.faqsInfo3 p {
  font-family: 'Poppins', sans-serif;
  font-size: 9.44px;
  color: #25344b;
}
.buttonFaqs {
  position: relative;
  left: -360px;
  top: 100px;
  background-color: #ff3566;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 11.5px;
}
.extraInfo {
  position: relative;
  left: 200px;
  top: 600px;
  display: block;
  width: 1045.44px;
  height: 578.33px;
}
.containerImage7 {
  position: relative;
  left: -200px;
  top: -200px;
  display: block;
  justify-items: center;
  align-items: center;
  width: 100vw;
}
.extraInfo img {
  margin-left: 0;
  width: 100vw;
  height: auto;
}
.extraInfoText {
  position: relative;
  left: -50px;
  top: 280px;
  z-index: 2;
}
.extraInfoText h3 {
  width: 250px;
  font-family: 'Poppins', sans-serif;
  font-size: 21.78px;
  color: #ff3566;
  background-color: white;
}
.extraInfoText p {
  width: 320px;
  font-family: 'Poppins', sans-serif;
  font-size: 13.79px;
  color: white;
}
.extraInfoText a {
  font-family: 'Poppins', sans-serif;
  color: white;
}
footer {
  border: grey solid 1px;
  display: block;
  text-align: center;
  align-items: center;
  background-color: #213146;
  width: 100vw;
  height: 100px;
  position: relative;
  padding-top: 50px;
  top: 710px;
  padding-bottom: 50px;
}
footer img {
  width: 101.68px;
  height: 32.7px;
}

/* estilos para html de vendedores */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  /* font-family: sans-serif; */
}
.formulario {
  width: 500px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  position: relative;
}
.formulario__titulo {
  text-align: center;
  margin-top: 0;
  color: rgba(0, 0, 0, 0.7);
}
.formulario__input,
.formulario__label,
.formulario__submit {
  display: block;
  width: 100%;
  font-size: 1em;
}
.formulario__input {
  padding: 20px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
}
.formulario__input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.7);
}
.formulario__input:focus + .formulario__label {
  margin-top: -135px;
}
.formulario__label {
  font-family: 'Poppins', sans-serif;
  padding-top: 15px;
  padding-left: 15px;
  position: absolute;
  margin-top: -85px;
  z-index: -20;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}
.formulario__submit {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}
.fijar {
  margin-top: -135px;
}
