* {
  box-sizing: border-box;
}

/* body {
  background: #1d1d1f;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.contenedor {
  max-width: 1200px;
  width: 90%;
  margin: auto;
} */

/* --- --- CONTENEDOR PRINCIPAL --- --- */

/* .contenido-principal {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.contenido-principal__imagen {
  vertical-align: top;
  margin-right: 20px;
  width: 50%;
  max-width: 550px;
}

.contenido-principal__contenedor {
  width: 50%;
}

.contenido-principal__titulo {
  font-weight: normal;
  font-size: 28px;
}

.contenido-principal__resumen {
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  color: #cfcfcf;
} */

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
  width: 100%;
  height: auto;
  max-width: 1200px;
  position: relative;
}

.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: -40px;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: black;
  opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
  opacity: 50%;
}

.carousel__anterior {
  right: 100px;
}

.carousel__siguiente {
  right: 70px;
}
.carousel {
  width: 80%;
  margin: 0 auto;
}

.carousel__lista {
  overflow: hidden;
}

.carousel__elemento {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 200px;
  height: 100%;
  margin-left: 50px;
  margin-right: 50px;
}

.carousel__indicadores .glider-dot {
  display: block;
  width: 30px;
  height: 4px;
  background: #fff;
  opacity: 0.2;
  border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
  opacity: 0.5;
}

.carousel__indicadores .glider-dot.active {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  body {
    padding: 40px 0;
  }

  .contenido-principal {
    flex-direction: column;
  }

  .contenido-principal > * {
    width: 100%;
  }
}
