body {
  width: 100%;
  height: auto;
}
header {
  background-color: #213146;
  padding-top: 0;
  padding-left: 10px;
  padding-bottom: 0;
  /* border-bottom: 8px solid white; */
  z-index: 2;
}
header img {
  padding-top: 10px;
  width: 101.68px;
  height: 32.7px;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 0 14px; */
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #ff3566;
  /* background-image: url('../images/bcImage.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;*/
}
.home > .container {
  position: relative;
  height: 100%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.home h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 43.32px;
  font-weight: 100;
  color: white;
  line-height: 50px;
  letter-spacing: 8.86px;
  height: auto;
}
.home p {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: white;
  line-height: 14px;
  letter-spacing: 1px;
}
.homeInfo {
  padding-top: 50px;
  padding-left: 50px;
  max-width: 450px;
  width: 90%;
}
.containerImage {
  position: absolute;
  width: 100%;
  max-width: 300px;
  height: auto;
  bottom: -2px;
  right: 100px;
}
.containerImage img {
  width: 100%;
  height: auto;
}

input {
  position: relative;
  /*top: 40px;*/
  width: 157px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid white;
  font-family: 'Poppins', sans-serif;
  font-size: 9.36px;
  z-index: 2;
}
.buttonHeader {
  background-color: #f9d7d6;
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  font-weight: bold;
  position: relative;
  top: -1px;
  left: 950px;
  border-radius: 0;
  height: 60px;
}
.buttonRegister {
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
}
.infoContainer {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
.check {
  width: 192px;
  height: 200px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.info {
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  align-items: center;
  align-content: space-between;
}
.info h2 {
  width: 100%;
  height: auto;
  display: inline;
  text-align: center;
  font-size: 22px;
  color: #808fa3;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.check h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #ff3566;
}
.check img {
  width: 65px;
  height: 65px;
}
.check p {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: #808fa3;
}
.cash {
  width: 192px;
  height: 200px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cash h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #ff3566;
}
.cash img {
  width: 65px;
  height: 65px;
}
.cash p {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: #808fa3;
}
.hands {
  width: 192px;
  height: 200px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hands h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #ff3566;
}
.hands img {
  width: 65px;
  height: 65px;
}
.hands p {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: #808fa3;
}
.buttonInfo {
  /* position: relative;
  top: -60px;
  left: 550px; */
  width: 236px;
  height: 44px;
  background-color: #ff3566;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 10px;
  margin-bottom: 40px;
}
.userContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 145vh;
  text-align: center;
  /* padding-bottom: 50px; */
}
.users img {
  width: 100%;
}
.containerImage2 {
  background-color: #ff3566;
  background-image: url('../images/586014-PM8TT6-428@4x.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}
.infoUsers {
  background-color: #f9d7d8;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
.users h3 {
  padding-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 17.6px;
  color: #6d1b37;
  line-height: 20.8px;
}
.users p {
  width: 20%;
  padding-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  color: #25364b;
}
.buttonUser {
  background-color: #ff3566;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 10px;
}
.sellers {
  display: flex;
  width: 100%;
  max-width: 990px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 14px;
}
.sellersContainer {
  position: relative;
  width: 100%;
  max-width: 90vh;
  height: auto;
  padding: 0 14px;
}

.sellersInfo {
  position: absolute;
  top: 100px;
  left: 750px;
  width: 300px;
  height: auto;
}
.sellersInfo h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #6d1b37;
  font-weight: 400;
}
.sellersInfo p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #213146;
  font-weight: 400;
}
.containerImage3 {
  width: 100%;
}
.containerImage3 img {
  width: 100%;
}

.containerImage4 {
  width: 100%;
  position: absolute;
  top: 155px;
  left: 265px;
}
.containerImage4 img {
  width: 300px;
  height: auto;
}
.buttonVendor {
  margin-top: 80px;
  background-color: #ff3566;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 11.5px;
}
.company {
  width: 100%;
  display: flex;
  height: 100vh;
}
.companyI {
  position: relative;
  width: 100%;
  height: 100vh;
}
.companyInfo {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 300px;
  height: auto;
}
.companyInfo h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #6d1b37;
  font-weight: 400;
}
.companyInfo p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #213146;
  font-weight: 400;
}
.containerImage5 {
  width: 50%;
  position: absolute;
  top: 100px;
  left: 550px;
}
.containerImage5 img {
  width: 500px;
  height: auto;
}
.buttonCompany {
  position: absolute;
  left: 150px;
  top: 350px;
  background-color: #ff3566;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 11.5px;
}
.schoolContainer {
  /* position: absolute; */
  display: flex;
  justify-content: right;
  align-items: center;
  width: 83.5%;
  height: 55vh;
  top: 300px;
  top: 300px;
  margin-left: 200px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #f9d7d6;
}
.school {
  position: relative;
  height: 50vh;
  width: 100%;
}
.schoolInfo {
  width: 380px;
  height: auto;
  padding-left: 50px;
}
.schoolInfo h3 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -5.9px;
  line-height: 70px;
  font-size: 100px;
  color: #ff3566;
  /* padding-left: 50px; */
  margin-top: 50px;
  margin-bottom: 0;
}
.schoolInfo p {
  /* padding-left: 50px; */
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  color: #000000;
}
.buttonKnowMore {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
}
.containerImage6 {
  width: 100%;
  /* position: absolute;
  top: -159px;
  left: 205px; */
  margin-bottom: 50px;
}
.containerImage6 img {
  width: 100%;
}
.faqs {
  text-align: center;
  width: 100%;
  margin-top: 50px;
  padding-bottom: 50px;
}
.fasqContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  /* margin-top: 50px; */
  justify-content: center;
  text-align: center;
}
.faqs h2 {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #808fa3;
}

.faqsGrid {
  grid-gap: 50px;
  display: grid;
  grid-template-areas:
    'h2             h2           h2'
    'faqsInfo1  faqsInfo2 faqsInfo3';

  justify-items: center;
  align-items: center;
  align-content: space-between;
  padding-top: 100px;
}
.faqsInfo1 {
  width: 192px;
  height: 200px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.faqsInfo1 h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 13.07px;
  color: #ff3566;
}
.faqsInfo1 p {
  font-family: 'Poppins', sans-serif;
  font-size: 9.44px;
  color: #25344b;
}
.faqsInfo2 {
  width: 192px;
  height: 200px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.faqsInfo2 h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 13.07px;
  color: #ff3566;
}
.faqsInfo2 p {
  font-family: 'Poppins', sans-serif;
  font-size: 9.44px;
  color: #25344b;
}
.faqsInfo3 {
  width: 192px;
  height: 200px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.faqsInfo3 h3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 13.07px;
  color: #ff3566;
}
.faqsInfo3 p {
  font-family: 'Poppins', sans-serif;
  font-size: 9.44px;
  color: #25344b;
}
.buttonFaqs {
  margin: 0 auto;
  background-color: #ff3566;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 11.5px;
}
.extraInfo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 120vh;
  background-color: #ff3566;
  background-image: url('../images/bcImage.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* .containerImage7 {
  position: relative;
  left: -200px;
  top: -200px;
  display: block;
  justify-items: center;
  align-items: center;
  width: 100vw; */

.extraInfo img {
  margin-left: 0;
  width: 100vw;
  height: auto;
}
.extraInfoText {
  padding: 30px;
  z-index: 2;
}
.extraInfoText h3 {
  width: 250px;
  font-family: 'Poppins', sans-serif;
  font-size: 21.78px;
  color: #ff3566;
  background-color: white;
}
.extraInfoText p {
  width: 320px;
  font-family: 'Poppins', sans-serif;
  font-size: 13.79px;
  color: white;
}
.extraInfoText a {
  font-family: 'Poppins', sans-serif;
  color: white;
}
footer {
  border: grey solid 1px;
  display: block;
  text-align: center;
  align-items: center;
  background-color: #213146;
  width: 100vw;
  height: 80px;
  padding-bottom: 25px;
  padding-top: 35px;
}
footer img {
  width: 101.68px;
  height: 32.7px;
}

/* estilos para html de vendedores formulario */
.containerVendor {
  display: block;
  align-items: center;
  justify-content: center;
  margin-right: auto;
}
.formContainer {
  display: block;
  width: 100%;
  height: 50%;
  padding: 20px;
}
.formulario {
  margin: auto;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  width: 50vw;
  height: 40%;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  height: 30vw;
  padding-bottom: 20px;
}
.formulario h2 {
  position: relative;
  left: 170px;
  text-align: center;
  padding-top: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 2;
  font-family: 'Poppins', sans-serif;
  font-size: 9px;
  font-weight: bold;
  color: #011a40;
}
.formContainer {
  width: 80%;
  display: block;
}
.formItem {
  margin-right: 0;
  margin-left: 50px;
  margin-bottom: 10px;
  padding-left: 20px;

  width: 210px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid #cfcfcf;
  font-family: 'Poppins', sans-serif;
  font-size: 11.5px;
}
.formItemImageContainer {
  width: 99.5%;
  height: 80px;
  background-color: #ff3566;
  grid-row: 1;
  padding-left: 5px;
  grid-column: 1 / 5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.formItemImage {
  border-radius: 50%;
  position: relative;
  left: 0;
  top: 55px;
  width: 40px;
  height: 40px;
  background: url('../images/imagenlogo1.png') center;
  border: none;
  cursor: pointer;
  display: block;
  margin: auto;
  grid-row: 1;
  padding-left: 5px;
  grid-column: 1 / 5;
}
.containerVendor {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.singIn {
  grid-row: 7;
  grid-column: 1 / 5;
  margin: auto;
  width: 250px;
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  color: white;
  background-color: #ff3566;
  width: 260px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid white;
}
.containerVendor {
  padding-top: 50px 20px;
}
.containerVendor h1 {
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #686875;
}
.containerVendor p {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  color: #686875;
  width: 262px;
  height: 36px;
  text-align: center;
  margin-bottom: 30px;
}
#fullName {
  /* grid-area: fullName; */
  grid-row: 3;
  grid-column: 1;
}

#email {
  /* grid-area: email; */
  grid-row: 4;
  grid-column: 1;
}
#cI {
  /* grid-area: cI; */
  grid-row: 5;
  grid-column: 1;
}
#tlf {
  /* grid-area: tlf; */
  grid-row: 6;
  grid-column: 1;
}
#birthday {
  /* grid-area: birthday; */
  grid-row: 3;
  grid-column: 2;
}
#city {
  /* grid-area: city; */
  grid-row: 4;
  grid-column: 2;
}
#dep {
  /* grid-area: dep; */
  grid-row: 5;
  grid-column: 2;
}
